In [95]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [96]:
titanic=pd.read_csv('train.csv')

In [97]:
x=titanic[['Age','Pclass','Sex','Parch','SibSp']]
x['Age'].fillna(value=x['Age'].mean(),inplace=True)
x['Pclass'].fillna(value=x['Pclass'].mean(),inplace=True)
x['Parch'].fillna(value=x['Pclass'].mean(),inplace=True)
x['Sex'].fillna(value='male',inplace=True)
x['SibSp'].fillna(value=x['SibSp'].mean(),inplace=True)
x=x.iloc[:,:].values

In [98]:
y=titanic.iloc[:,1]

In [91]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [99]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
x[:, 2] = labelencoder.fit_transform(x[:, 2])

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=101)

In [110]:
def distance(x1,x2):
    d=np.sqrt(((x1-x2)**2).sum())
    return d

array([633873.3087691183, 3118, 496, 532, 1011], dtype=object)

In [ ]:
def knn(x_train,y_train,xt,k):
    #empty list of values
    vals=[]
    
    #calculating and appending eulidean distance and appending to the list 
    for ix in range(x_train.shape[0]):
        d=distance(x_train[ix],xt)
        vals.append([d,y_train[ix]])
        
    
    #sorting the values based upon the first value in the "vals" list
    sorted_labels=sorted(vals, key=lambda z:z[0])
    #converting into numpy array
    neighbours=np.asarray(sorted_labels)[:k,-1]
    
    #getiing frequencies
    freq=np.unique(neighbours,return_coutns=True)
    return freq[0][freq[1].argmax()]