In [15]:
import pandas as pd
import numpy as np

In [16]:
df=pd.read_csv("train.csv")

In [17]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
df["Survived"]=df["Survived"].dropna()
df["Age"]=df["Age"].fillna(value=df["Age"].mean())

In [19]:
#x=df[["Pclass","Sex","Age","SibSp","Parch"]].values

In [20]:
y=df.iloc[:,1].values

In [23]:
#from sklearn.preprocessing import LabelEncoder, OneHotEncoder
#labelencoder=LabelEncoder()
#de elfunction ely gwaha onehotencoder
#x[:,1]=labelencoder.fit_transform(x[:,1])
#onehotencoder=OneHotEncoder(categorical_features=[2])
#x=onehotencoder.fit_transform(x).toarray()
def transform(x):
    if x=="male":
        return 0
    else:
        return 1
    
df["Sex"]=df["Sex"].apply(lambda x: transform(x))
x=df[["Pclass","Sex","Age","SibSp","Parch"]].values

In [24]:
#from sklearn.cross_validation import train_test_split
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
x.shape
#x_test.shape

(891, 5)

In [25]:
y.shape

(891,)

In [26]:
x_train=x[:712,:]
x_test=x[712:,:]
y_test=y[712:,]
y_train=y[:712,]

In [27]:
x_train

array([[ 3.        ,  0.        , 22.        ,  1.        ,  0.        ],
       [ 1.        ,  1.        , 38.        ,  1.        ,  0.        ],
       [ 3.        ,  1.        , 26.        ,  0.        ,  0.        ],
       ...,
       [ 3.        ,  0.        , 29.69911765,  1.        ,  1.        ],
       [ 1.        ,  1.        , 24.        ,  0.        ,  0.        ],
       [ 1.        ,  0.        , 29.69911765,  0.        ,  0.        ]])

In [28]:
def knn(x_train,x_test,y_train,features,k):
    predicted=[]
    #the outer loop on every test point
    for test in x_test:
        distance=[]
        index=0
        #for every test point we calculate the Euclidean distance between all training points
        for train in x_train:
            d=0
            #calculating Euclidean distance
            for f in range(0,features):
                d+=(test[f]-train[f])**2
            dist=np.sqrt(d)
            distance.append((dist,index))
            index+=1
        #sorting the distances in ascending order
        sort=sorted(distance)
        #taking the index of k numbers of sorted distances
        top=[]
        for i in range(0,k):
            top.append(sort[k][1])
        #finding which class does every point belong to
        zero=0
        one=0
        for m in top:
            y1=y_train[m]
            if y1==0:
                zero+=1
            else:
                one+=1
         #finding the majority of k points
        if zero>one:
            pred=0
        else:
            pred=1
        #the predicted class of every test point
        predicted.append(pred)
    #return the predicted classes of x_test
    return predicted

In [35]:
y_pred=knn(x_train,x_test,y_train,5,7)

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy_score(y_pred,y_test)

0.7206703910614525

In [38]:
y_pred

[0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0]